@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&f[]=general-sans@600,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
  font-family: 'General Sans', sans-serif;
}
